In [2]:
import pandas as pd

In [3]:
authors = pd.DataFrame({'author_id':[1, 2, 3], 'author_name':['Тургенев', 'Чехов', 'Островский']})

In [4]:
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [5]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 'price':[450, 300, 350, 500, 450, 370, 290]})

In [6]:
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [7]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'inner')

In [8]:
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [12]:
top5 = authors_price.sort_values(by = 'price', ascending = False)
top5 = top5.head()
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [18]:
max_price = book.groupby('author_id')['price'].max()
min_price = book.groupby('author_id')['price'].min()
mean_price = book.groupby('author_id')['price'].mean()

author_stats = pd.merge(authors, max_price, on= 'author_id', how='inner')
author_stats = pd.merge(author_stats, min_price, on= 'author_id', how='inner')
author_stats = pd.merge(author_stats, mean_price, on= 'author_id', how='inner')

print(author_stats)

   author_id author_name  price_x  price_y       price
0          1    Тургенев      450      300  366.666667
1          2       Чехов      500      450  475.000000
2          3  Островский      370      290  330.000000